@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

* {
    font-family: "Lato";
    font-weight: 300;
}

footer {
    margin: 50px 0;
}

.moveEntry:hover {
  background-color: lightgrey;
  cursor: pointer;
}

p {
  font-size: 20px;
}

hr {
  border : 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0),#DA695B, rgba(0, 0, 0, 0));
}

/* Used to make sure chat is sent neatly */
pre {
  border-style: none;
  white-space: pre-wrap;       /* CSS 3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  margin: 0 0 0 0;
  padding: 2px 2px 2px 2px;
  font-family: 'Ubuntu', sans-serif;
}

.chat-controls {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
}

.board {
	border: 1px solid black;
    position: relative;
}

.chat {
  min-height: 10em;
  max-height: 30em;
  overflow-y: scroll;
  padding: 10px 10px;
}

#userWait {
  position: absolute;
  top: 10%;
}

.navbar-inverse{
  background-color: rgba(0,0,0,0);
  border:none;
}
.navbar-inverse .navbar-brand {
  color:#fff;
}
nav.navbar.navbar-inverse.navbar-fixed-top{
    margin-bottom: 0;
}
section{
    padding: 100px 0;
}
section.header{
    padding-top: 150px;
    background: url(../img/go.jpg);
    background-size: cover;
    background-position: center;
}
section.header .main-header h1{
    font-family: 400;
    font-size: 72px;
    color: #fff;
}
section.header .main-header p{
    font-size: 28px;
    color: #fff;
    text-transform: uppercase;
}
section.header img{
    max-width: 50px;
    height: 50px;
    align-self: center;
    margin-top: 10px;
}
section.header .header-logo-container{
  display: inline-flex;
  align-content: center;
  flex-direction: row;
}
section.header .main-header button i{
    margin-right: 10px;
}
section.header .main-header button{
    font-size: 28px;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 7px 20px;
    border: 3px solid #fff;
    font-weight: 300;
    color:#fff;
    background-color: rgba(0,0,0,0);
    margin-top: 40px;
    transition: 0.5s all;
}

section.header .main-header button:hover{
    background-color: #fff;
    padding: 7px 30px;
    color:#DA695B;
}
.about button{
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 10px 20px;
    border: none;
    font-weight: 300;
    color:#fff;
    background-color: #DA695B;
    transition: 0.5s all;
}
.about button:hover{
    border: none;
    background-color: #789048;
}
.features-row{
    padding: 30px 0 ;

}
.features-row .icons{
    font-size: 36px;
}
.info{
    padding: 0;
}
.info .col-md-6{
    text-align: center;
    width: 100%;
    padding: 30px 0;
    background-color: #DA695B;
}
.info .col-md-6:nth-child(2){
    background-color: #B4485B;
}
.info .info-content{
    color:#fff;
}
.info .info-content a{
    color:#fff;
    font-weight: 700;
}
.info .info-content h4{
    font-weight: 700;
}

.well {
    border-radius: 0;
    box-shadow: none;
    border: none;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}

.go input {
    box-shadow: none;
    border-radius: 0;
    border:1px solid #DA695B;
    background:  #DA695B;
    color: #fff;
    transition: 0.3s all;
    font-family: "Lato";
}

.go input:focus{
    box-shadow: none;
    border-radius: 0;
    border:1px solid #DA695B;
    background:  #B4485B;
    color: #fff;
    font-family: "Lato";
}

.go p{
    font-size: 14px;
}
.go .buttons{
    display: flex;
}
.go .chat{
    flex-grow: 1;
}
.go .chat-controls button{
    color: #DA695B;
    background-color: #fff;
    font-size: 10px;
}
.go .buttons button{
    border-radius: 0;
    background-color: #DA695B;
    color:#fff;
    transition: 0.1s all;
    margin-right: 5px;
    flex: 1;
}
.go .buttons button:hover{
    background: #B4485B;
}
.go .buttons button:nth-last-child(1){
    flex: none;
    margin-right: 0;
}
.go .move-history{
    margin-top: 20px;
}

.strong {
    font-weight: 700;
}

.game-size .size {
  border: 0px;
  font-size: 23px;
  padding: 0px 5px 5px 5px;
  font-weight: 400;
  cursor: default;
}

.game-size .size:hover {
  background: white;
}

.game-size {
     list-style-type:none;
     margin: 5px 0 0 0;
     padding:0;
}

.game-size li {
    float:left;
    margin:0 15px 0 0;
    width:60px;
    height:40px;
    position:relative;
    text-align: center;
}

.game-size label, .game-size input {
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.game-size input[type="radio"] {
    opacity:0.01;
    z-index:100;
}

.game-size input[type="radio"]:checked + label,
.Checked + label {
    background: #DA695B;
}

.game-size label {
     padding:5px;
     border:1px solid #CCC;
     border-radius: 5px;
     cursor:pointer;
    z-index:90;
}
.game-size label:hover {
     background:#DDD;
}

.modal-body {
    overflow: hidden;
}
.header-container{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.header-container h1,
.header-container img{
  display: inline-block;
}
.header-container img{
  max-height: 40px;
  margin-top: 10px;
}
@media(max-width: 405px){
  section.header .header-logo-container{
    flex-direction: column;
  }

}