body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    margin: 50px 0;
}

/* Used to make sure chat is sent neatly */
pre {
    border-style: none;
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    margin: 0 0 0 0;
    padding: 2px 2px 2px 2px;
}

.wood-color {
	background-color: #966F33;
}


.board {
	border: 1px solid black;
    position: relative;
    background-repeat: no-repeat;
    background-size: 60px;
}


.chat {
    height: 30vh;
    overflow-y: scroll;
    padding: 10px 10px;
}

#userWait {
    position: absolute;
    top: 10%;
}