<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Fischr - Go</title>

    <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/style.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Fischr</a>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <h2>Go</h2>
                <!-- The board should go here -->
                <div class="outer-board">
                    <img class="inner-board" src="/img/go_board_9*9.png" height="500" width="500" alt="error showing the image">
                </div>
                <hr>
            </div>

            <div class="col-md-4">
                <!-- Chat Well -->
                <div class="well">
                    <h4>Chat</h4>
                    Your name is <span id="yourName"></span>
                    <div id="history"></div>
                    <div class=" col-xs-7">
                        <input id="message" class="form-control" />
                    </div>
                    <button id="send" class="btn">Send</div>
            </div>
        </div>
    </div>


<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../bower_components/socket.io-client/socket.io.js"></script>
<script src="/src/bundles/fakeName.js"></script>
<script src="/src/bundles/go_bundle.js"></script>

</body>
    <script>

    var uuid = function () {
        var array = new Uint32Array(10);
        window.crypto.getRandomValues(array);
        return window.sha1(JSON.stringify(array));
    }

    var socket = io();
    var roomId = /[^/]*$/.exec(window.location.pathname)[0];
    var clientId = uuid();

    $("#yourName").text(fakeName(clientId));

    socket.emit('joinRoom', {
        'roomId': roomId,
        'clientId': clientId,
    });

    $("#send").on('click', function () {
        var message = $("#message").val();
        $("#message").val('');
        socket.emit('postNewMessage', {
            'message': message,
            'roomId': roomId,
            'clientId': clientId,
        });
    });

    socket.on('getNewMessage', function (new_message) {
        console.log(new_message);
        if (new_message.roomId == roomId) {
            $("#history").append($("<pre>", {
                'text': fakeName(new_message.authorId) + ': ' + new_message.message,
            }));
        }
    });


    jQuery(window).bind('beforeunload', function (e) {
        socket.emit('leaveRoom', {
            'roomId': roomId,
            'clientId': clientId
        });
    });

    socket.on('leftRoom', function (msg) {
        $("#history").append($("<pre>", {
            'text': fakeName(msg.clientId) + ': ' + 'left the chat.',
        }));
    });

    </script>

</body>
</html>
