<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Fischr</title>

    <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Fischr</a>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">
                    Fischr
                    <small>The easiest gaming platform you've ever used.</small>
                </h1>

                <!-- First Blog Post -->
                <h2>
                    <a href="/go">Go</a>
                </h2>
                <img class="img-responsive" src="/img/go.png" alt="">
                <hr>
                <p>
Go (圍棋; literally: "encircling game") is an abstract strategy board game for two players, in which the aim is to surround more territory than the opponent.
<br><br>
The game originated in ancient China more than 2,500 years ago, and is one of the oldest board games played today. It was considered one of the four essential arts of a cultured Chinese scholar in antiquity. The earliest written reference to the game is generally recognized as the historical annal Zuo Zhuan (c. 4th century BC). The current game of Go as we know was formalized in Japan in the 15th century CE.
                </p>
<a class="btn btn-primary" href="/go">Play Go<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Free games? What's the catch?</h4>
                    <p>
As gamers ourselves, we're sick and tired of gaming sites having countless ads, sign-up processes, e-mail verification, and a tonne of other annoying site-related obstacles. We just want to play our damn games. Inspired by the great <a href="lichess.org">Lichess</a>, we will never have any of the aforementioned annoyances.
                    </p>
                </div>

                <div class="well">
                    <h4>About Fischer</h4>
                    <p>
We're three students at the University of Waterloo, studying computer science. Fischr is built using NodeJS and SocketIO. If you'd like to give back, you can help contribute to the site. Fischr is an open-source project, so feel free to submit a feature or an issue to our <a href="https://github.com/zodiac/fischr">repository</a>.
                    </p>
                </div>

            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</body>

</html>
